<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
	<rule name="Nip05Rule">
                    <match url="^.well-known/nostr.json(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="nip05.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
